<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Records</title>
</head>
<body>
    <form action="/update" method="post">
        <table>
            <tr><td>Name</td><td><input type="text" name="Name"></td></tr>
            <tr><td>Id</td><td><input type="text" name="Id"></td></tr>
            <tr><td><input type="submit" value="submit"></td></tr>
        </table>
    </form>
    {% if msg %}
        <p>{{msg}}</p>
    {% endif %}
    <a href="/view">View JobHolders</a>
</body>
</html>