<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Jobholders</title>
</head>
<body>
    <h1>JobHolders Information</h1>
    <table border=5>
        <thead>
            <td>Name</td>
            <td>Id</td>
            <td>Salary</td>
            <td>Age</td>
            <td>Address</td>
        </thead>
        {% for row in rows%}
        <tr>
            <td>{{row['Name']}}</td>
            <td>{{row['Id']}}</td>
            <td>{{row['Salary']}}</td>
            <td>{{row['Age']}}</td>
            <td>{{row['Address']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Home</a>
</body>
</html>